:root {
    --tipografiaGeneral: 'Roboto';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--tipografiaGeneral);
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}